<div class="login-form-background">
  <div class="col-md-4 offset-md-4">
    <div class="login-form">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
          <p class="h5 text-center mb-4">Update Profile</p>


  <div class="md-form">
    <i class="fa fa-envelope prefix"></i>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control validate" %>
    <%= f.label :email %>
  </div>

  <div class="md-form">
    <i class="fa fa-key prefix"></i>
    <%= f.text_field :first_name, class: 'form-control' %>
    <%= f.label :first_name %>
  </div>

  <div class="md-form">
    <i class="fa fa-key prefix"></i>
    <%= f.text_field :last_name, class: 'form-control' %>
    <%= f.label :last_name %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="md-form">
    <i class="fa fa-key prefix"></i>
    <%= f.password_field :password, autocomplete: "off", class: 'form-control validate' %>
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <% if @minimum_password_length %>
      
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="md-form">
    <i class="fa fa-key prefix"></i>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control validate' %>
    <%= f.label :password_confirmation %>
  </div>

  <div class="md-form">
    <i class="fa fa-key prefix"></i>
    <%= f.password_field :current_password, autocomplete: "off", class: 'form-control validate' %>
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
  </div>

  <div class="text-center">
    <%= f.submit "Update", class:"btn btn-elegant" %>
  </div>  
      <% end %>
    </div>
  </div>
</div>


<%= link_to "Back", :back %>
