<%= form_with model: @article do |f| %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, id: :article_title %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.cktext_area :body, id: :article_body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>