<div class="container">
  <div class="col-md-4 offset-md-4 search-form">
    <%= form_tag(articles_path, method: "get", class: "form-inline md-form form-sm") do %>
      <%= text_field_tag :search, nil, placeholder: "Søg efter artikler", class: "form-control w-75 mr-3", type: "text", autofocus: true %>
      <i class="fa fa-search active" aria-hidden="true">
      <%= submit_tag "Søg", class: "btn btn-outline-success my-2 my-sm-0", style: "display: none" %>
      </i>
    <% end %>
  </div>


  <div class="row">
    <% @articles.each do |article| %>
      <div class="col-lg-4 col-md-6 mb-r">
        <div class="card">     
          <div class="card-body">
            <%= link_to article_path(article) do %>
              <h5 class="card-title text-center"><%= article.title %></h5>
            <% end %>
            <p class="card-text"><%= truncate(article.body, length: 150, escape: false) %></p>
            <%= link_to "Læs mere >", article_path(article), class: "blue-text mt-1 d-flex flex-row-reverse" %>      
          </div>
          <div class="card-footer">
            <p class="card-text"><i class="fa fa-user"></i> <%= article.user.first_name %></p>
            <p class="card-text"><i class="fa fa-clock-o"></i> <%= article.created_at.strftime("%b %d, %Y") %></p>
            <p class="card-text pull-right"><i class="fa fa-tag"> </i> <%= article.department.title %></p>

          </div>      
        </div>
      </div>
    <% end %>
  </div>

  <% unless @incidents.empty? %>

  <h4 class="text-center">Aktuelle brugerfejl</h4><br>

    <div class="relevant-incidents">
      <div class="row">
        <%= render @incidents.relevant %>
      </div>
    </div>

    <div class="pending-incidents">
      <div class="row">
        <%= render @incidents.pending %>
      </div>
    </div>

    <div class="fixed-incidents">
      <div class="row">
        <%= render @incidents.fixed %>
      </div>
    </div>
  </div>
<% end %>


<h2>Top 10 artikler</h2>
<% @top10.each do |q| %>
  <%= q.title %><br>
<% end %>

<h2>Top contributers</h2>

<% @top_contribuers.each do |user| %>
  <%= user.first_name %>
  <%= user.articles.count %><br>
<% end %>