<div class="container">
  <div class="col-md-4 offset-md-4 search-form">
    <%= form_tag(articles_path, method: "get", class: "form-inline md-form form-sm") do %>
      <%= text_field_tag :search, nil, placeholder: "Search articles", class: "form-control w-75 mr-3", type: "text" %>
      <i class="fa fa-search active" aria-hidden="true">
      <%= submit_tag "Search", class: "btn btn-outline-success my-2 my-sm-0", style: "display: none" %>
      </i>
    <% end %>
  </div>

  <div class="row">
    <% @articles.each do |article| %>
      <div class="col-lg-4 col-md-6 mb-r">
        <div class="card">     
          <div class="card-body">
            <h5 class="card-title"><%= article.title %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= article.department.title %></h6>
            <p class="card-text"><%= truncate(article.body.html_safe, length: 150) %></p>
            <%= link_to "Show", article_path(article), class: "card-link" %>      
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <% @incidents.relevant.each do |incident| %>
      <div class="col-lg-4 col-md-6 mb-r">
        <div class="card">     
          <div class="card-body">
            <h5 class="card-title"><%= incident.title %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= incident.description %></h6>
            <p class="card-text"><%= truncate(incident.solution, length: 150) %></p>
            <%= link_to "Show", incident_path(incident), class: "card-link" %>      
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
