<div class="container">
  <div class="show-page">
    <h1><%= @article.title %></h1>
    <i class="fa fa-clock-o"> <%= @article.updated_at.strftime("%b %d, %Y") %></i> - <i><i class="fa fa-user"> <%= @article.user.first_name %></i><br>
    <span class="badge badge-info"><%= @article.department.title %></span>
    <hr>
    <p><%= @article.body.html_safe %></p>

    <%= link_to 'Slet', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    <%= link_to 'Rediger', edit_article_path(@article), class: 'btn btn-warning' %>
  </div>
</div>

