<div class="col-lg-4 col-md-6 mb-r">
  <div class="card">     
    <div class="card-body">
      <h5 class="card-title"><%= incident.title %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= incident.description %></h6>
      <p class="card-text"><%= truncate(incident.solution, length: 150) %></p>
      <%= link_to "Show", incident_path(incident), class: "card-link" %> 
      <p class="card-text"><%= incident.status %></p>     
    </div>
  </div>
</div>