<div class="col-lg-4 col-md-6 mb-r">
  <div class="card">     
    <div class="card-body">
      <%= link_to incident_path(incident) do %>
        <h5 class="card-title text-center"><%= incident.title %></h5>
      <% end %>
      <hr>
      <h6 class="card-subtitle mb-2 text-muted"><%= incident.description %></h6>
      <p class="card-text"><strong>Løsning: </strong><%= truncate(incident.solution, length: 150) %></p>
      
    </div>
    <div class="card-footer">
      <p class="card-text"><i class="fa fa-user"></i> <%= incident.user.first_name %></p>
      <p class="card-text"><i class="fa fa-clock-o"></i> <%= incident.created_at.strftime("%b %d, %Y") %></p>
      <p class="card-text pull-right"><span class="badge badge-pill <%= incident_status_tag(incident) %>"><%= incident.status %></span></p>

    </div>
  </div>
</div>
