<!DOCTYPE html>
<html>
  <head>
    <title>KinoWiki</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.5/css/mdb.min.css">
  </head>

  <body>
    <%= render 'shared/nav' %>
    
    <div class="container-fluid">

      <% flash.each do |key, value| %>
          <div class="alert alert-info" id="flashmsg"><%= value %></div>
      <% end %>
      
      <%= yield %>      
    </div>

  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.5/js/mdb.min.js"></script>

</html>
